
@font-face {
    font-family: 'prestige_elitenormal';
    src: url('prestige-webfont.woff2') format('woff2'),
        url('prestige-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/prestige-webfont.woff2') format('woff2'),
        url('../fonts/prestige-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    color: WHITE;
    font-family: 'prestige_elitenormal';
    overflow: hidden;
    margin:0;
    padding:0;
    background-color: red;
    animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 50s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: aqua;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: aqua;}
      100% {background: red;}
    }

.weTransfert{
    background-color: #0f056b;
    color: white;
    width: 40%;
    padding-left: 15px;
    padding-top: 30px;
}        
.contwe {
    width: 300px;
    height: 400px;
    position: absolute;
    bottom:60px;
    right:60px;
}
::placeholder {
  color: white;
}
input{
    font-size: 18px;
    color: white;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 0px;
    font-family: 'prestige_elitenormal';
}
textarea { 
    font-family: 'prestige_elitenormal';
    color: white;
    font-size: 18px;
    height: 150px;
    background-color: #0f056b;
    border:0px;
    
}
.envoi {
    color: red;
}
hr {
    margin-right: 15px;
    border: dashed 0.1px white;
    
}

    
   

label{
    display: block;
}
button{
    background-color: transparent;
    color: white;
    font-family: 'prestige_elitenormal';
    font-size: 25px;
    /*margin-top: 40px;*/
    /*padding: 3px;
    border-top: 2px;*/
    border:none;
}

#Calque_1{
   width: 50%;
   position: absolute;
   left:400px;
}

#anim{
  width: 20%;
}

.file-msg js-set-number{
    color: #0cff00;
}

.trans{
    margin-bottom: 60px;
}
/*****************************HOVER TRANSFERER******************************************/

.svg-wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -430;
  stroke-width: 3px;
  stroke: red;
    margin-top: 20px;
}

.text {
  
  margin-top: 30px;
  
  text-align: center;
  position: relative;
  top: -80px;
    right: 20px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/*************************ANIMATION LOGO************************************************/
.signature {
/*padding-bottom: 30%;
padding-right: 30%;*/
}
.signature svg {
  position: absolute;
  /*top: 30px;
  left: 60px;*/
  width: auto;
  height: auto;
  padding-left: 60px;
    padding-top: 60px;
    
}



















































/************************************DRAG AND DROP*********************************************/


h2 {
  text-align: center;
  margin: 50px 0;
}

.file-drop-area {
  border: 1px dashed white;
  border-radius: 3px;
  
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding: 26px 20px 30px;
  transition: 0.2s;
    position: absolute;
    top: 800px;
    left:50px;

}



  .file-drop-area.is-active {
    background-color: #0F056B ;
  
}

.fake-btn {
  background-color: #0F056B;
  border: 1px solid #9E9EC4;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
  .file-input:focus {
    outline: none;
  
}



/*********************************************Responsive**********************************/
/*tablettes portrait*/

 @media only screen 
and (min-device-width : 768px) and (max-device-width : 1024px){ 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}   
    
    
/*tablette paysage*/ 
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
}   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    



/************************************************smartphone****************************************/
/*paysage*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}


/*****************portrait*********************/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    
   



































}